@keyframes ani_about {
    from { filter:opacity(10%); left:70px;}
    to { filter:opacity(100%); left:0px;}
}

@media screen and (min-width:400px) {
  #header #construction {display:none;}
  #aboutLeft {float:none;}
  #aboutLeft {text-align:center;}
  #resume {clear:both; margin:0;}
  #resume h1 {text-align:left; margin: 0 0 45px 0;}
  #resume h3 {margin:15px 0;}
  #resLeft {display:none;}
    #resLeft p {text-align:right;}
    #resLeft span {font-weight:bold;}
  #resRight {padding:1px 0 0 0;}
    #resRight #rProfileList {margin:0; position:relative; left:3em; list-style-type: hangul-consonant;}
  #expBox {}
    #expBox #expLeft {float:left; padding:0 6% 0 0; width:65%;}
    #expBox #expRight span {font-weight:normal; font-style:italic;}
    #expBox p {margin:0;}
    #expBox span {font-weight:bold;}
  #eduBox {}
    #eduBox #eduLeft {float:left; width:55%; padding:0 7% 0 0;}
    #eduBox #eduLeft span {font-weight:bold;}
    #eduBox #eduRight span {font-style:italic;}
    #eduBox p {margin:0;}
  #certBox {}
    #certBox p {margin:0;}
    #certBox #certLeft {float:left; width:55%; padding:0 7% 0 0;}
    #certBox #certLeft span {font-weight:bold;}
    #certBox #certRight span {font-style:italic;}
  #moreinfo {clear:both;}
  #about #headshot {margin:0 0 15px !important;}
}

@media screen and (min-width:900px) {
  #header #construction {display:none;}
  #aboutLeft {float:left;}
  #aboutLeft {height:17em; width:25%; min-width:220px;border-right:1px solid black; padding:0px 10px 0 0; margin:0 10px 0 0; text-align:right;}

  #resume {clear:both; margin:0;}
  #resume h1 {text-align:left; margin: 0 0 45px 0;}
  #resume h3 {margin:15px 0;}
  #resLeft {
    display:block;
    float:left; 
    width:25%;
    min-width:220px;
    padding:70px 10px 0 0; 
    margin:0 10px 0 0; 
    border-right:1px solid black; 
    background-image: url(/static/images/tools-200px.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 95%;
  }
    #resLeft p {text-align:right;}
    #resLeft span {font-weight:bold;}
  #resRight {padding:1px 0 0 0;}
    #resRight #rProfileList {margin:0; position:relative; left:3em; list-style-type: hangul-consonant;}
  #expBox {}
    #expBox #expLeft {float:left; padding:0 6% 0 0;}
    #expBox #expRight span {font-weight:normal; font-style:italic;}
    #expBox p {margin:0;}
    #expBox span {font-weight:bold;}
  #eduBox {}
    #eduBox #eduLeft {float:left; width:55%; padding:0 7% 0 0;}
    #eduBox #eduLeft span {font-weight:bold;}
    #eduBox #eduRight span {font-style:italic;}
    #eduBox p {margin:0;}
  #certBox {}
    #certBox p {margin:0;}
    #certBox #certLeft {float:left; width:55%; padding:0 7% 0 0;}
    #certBox #certLeft span {font-weight:bold;}
    #certBox #certRight span {font-style:italic;}
  #moreinfo {clear:both;}
}

html {


}
body { font-family:'Source Sans Pro', sans-serif; margin:0; }
body.nopreload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.preload-noshow {display:none;}
#bgimage { 
  background: url(/static/images/backgrounds/bodybg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(1px) grayscale(100%) opacity(20%);
  -moz-filter: blur(1px) grayscale(100%) opacity(20%);
  -o-filter: blur(1px) grayscale(100%) opacity(20%);
  -ms-filter: blur(1px) grayscale(100%) opacity(20%);
  filter: blur(1px) grayscale(100%) opacity(20%);
}

#body { margin:0 10%; }
#body::after {
  content: "";
  clear:both;
  display:block;
}

h3#welcome { margin:0; text-align:center }
div#body { padding-top:20px; }
#footer { display:block; width:100%; clear:both; bottom:0px; background-color:#002527; padding:20px 0; color:white; }
#footer span { color:#01a0b3 }

#header { padding:20px 0; color:black; }
#header #construction {
  background: #d9dc00 url(/static/images/notice-ico.png) no-repeat 16px 5px;
  background-size: 51px;
  margin: 0 25%;
  padding: 10px;
  color:black;
  text-align:center;
}
#nav { display:none; margin:0; padding:0; height:50px; text-align:center; margin:60px 0 0;}
#nav li { display:inline; list-style:none; }

/*#about {position:relative; animation-name:ani_about; animation-duration:1s; animation-timing-function: ease-out; clear:both;}*/
#about {position:relative; clear:both;}
  #about p {margin:0;}
#about #headshot {width:200px; margin:0; border: 8px solid seashell; border-radius: 2px;}
  



#footer ul#branding { font-size:10px; text-align:center; margin:0; padding:0;}
#footer #branding li { display:inline; margin:15px;}
#footer #branding span {}
#branding #awsbrand img { height:53px;  position:relative; top:-4px;}
#branding #gobrand img { height:90px;}
#branding #ansiblebrand img { height:60px; position:relative; top:-12px;}