@keyframes ani_santa_sleigh {
    0%   {top:30px; left:-225%; transform: rotate(0deg);}
    25%  {transform: rotate(20deg);}
    50%  {transform: rotate(0deg);}
    100% {top:30px; left:325%;transform: rotate(20deg);}
}
@keyframes ani_mobile_santa_sleigh {
    0%   {top:30px; left:-225%; transform: rotate(0deg);}
    25%  {transform: rotate(20deg);}
    50%  {transform: rotate(0deg);}
    100% {top:30px; left:325%;transform: rotate(20deg);}
}

@keyframes ani_getsecret_text_hide {
	100% {
		font-size:0px ; display:none;
	}
}
@keyframes ani_secretname_show {
	0% { font-size:0px; display:inline-block;}
	100% { font-size:40px; display:inline-block; }
}

body{margin:0;height:100%; overflow:auto;}
#debug {position:fixed; bottom:0; left:0; width:90%; height:60px;display:none;}
.debug-show {display:block !important;}
#bodywrapper {overflow:hidden; position:relative; width:100%;}
#btn-getsecret:hover { cursor:pointer; }
#btnholder { text-align: center; }
#secretname {display:none;}
#content {height:100%;}
#snowcanvas{
    position:absolute;top:0;left:0;
    z-index:-999;
    width:100%;
    background-image: linear-gradient(rgb(19, 142, 214), rgb(241, 246, 249) 50%);
    background-image: -o-linear-gradient( rgb(19, 142, 214), rgb(241, 246, 249) 50%);
    background-image: -moz-linear-gradient(rgb(19, 142, 214), rgb(241, 246, 249) 50%);
    background-image: -webkit-linear-gradient(rgb(19, 142, 214), rgb(241, 246, 249) 50%);
    background-image: -ms-linear-gradient(rgb(19, 142, 214), rgb(241, 246, 249) 50%);
    
    /*background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(241, 246, 249)),
        color-stop(0.90, rgb(19, 142, 214))
    );*/
}
/*@media screen and (min-width:300px) {
	#btn-getsecret {
		display: inline-block;
		padding: 40px 80px;
	    border-radius: 30px;
	    border: 4px solid white;
	    width:250px;
	    min-width:250px;
	    max-width:250px;
	    height:90px;
	    min-height:90px;
	    max-height:90px;
	}
	#btn-getsecret span.getsecret{
		font-family: cursive;
	    text-align: center;
	    font-size: 4em;
	    color:white;
	}
}
*/
@media screen and (min-width:400px) {
	#btnholder {
		padding: 60px 0 30px;
	    text-align: center;
	    height: 224px;
	}
	#btn-getsecret {
		display: inline-block;
		padding: 40px 80px;
	    border-radius: 30px;
	    border: 4px solid white;
	    width:250px;
	    min-width:250px;
	    max-width:250px;
	    height:90px;
	    min-height:90px;
	    max-height:90px;
		background-image: linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -o-linear-gradient( rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -moz-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -webkit-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -ms-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    /*background-image: -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0, rgb(193, 17, 25)),
	        color-stop(0.90, rgb(247, 102, 108))
	    );*/
	}

	
	#btnholder_hat {
		position:absolute;
		top: 30px;
    	left: 70%;
		width:100px;
		height:104px;
		z-index: 9999;
		background-image: url(/static/images/xmashat.png);
	    background-repeat: no-repeat;
	}
	.btn-getsecret-hide span.getsecret{
		animation-name: ani_getsecret_text_hide;
	  	animation-duration:1s;
	  	animation-delay:0s;
	  	animation-timing-function: ease-out;
	  	animation-iteration-count: 1;
	  	animation-fill-mode: forwards;
	}
	span.secretname-show{
		animation-name: ani_secretname_show;
	  	animation-duration:1s;
	  	animation-delay:5s;
	  	animation-timing-function: ease-in-out;
	  	animation-iteration-count: 1;
	  	animation-fill-mode: forwards;
	  	font-family:cursive;
	  	text-align:center;
	  	color:white;
	  	font-size:0px;
	}
	span.yougot{
		font-style:underline;
		display:none;
	}
	span.yougot-show {
		display:inline;
		font-family: cursive;
	    text-align: center;
	    font-size: 1em;
	    color:white;
	}
	#btn-getsecret span.getsecret{
		font-family: cursive;
	    text-align: center;
	    font-size: 3em;
	    color:white;
	}
	#btn-getsecret span.secretname{
		display:none;
	}
	#landscape {
		width:100%;
	}
	#landscape p{
		font-size:2em;
		font-family:cursive;
		color:white;
		padding:0 1em;
		text-align: center;
	}
	#tree1 {
		background-image: url(/static/images/treescape.png);
	    height: 55px;
	    width: 199px;
	    display: block;
	    top:193px;
	    left:7%;
	    background-size: 100px;
	    background-repeat-x: repeat;
	    background-repeat-y: no-repeat;
	    position:absolute;
	}
	#tree2 {
	    background-image: url(/static/images/treescape.png);
	    height: 50px;
	    width: 100px;
	    top:193px;
	    left:70%;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;
	}
	#xmastree1 {
	    background-image: url(/static/images/xmastree.jpg);
    	height: 50px;
	    width: 75px;
	    top:193px;
	    left:40%;
	    background-position-x: -38px;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;	
	}
	#xmastree2 {
	    background-image: url(/static/images/xmastree.jpg);
	    height: 50px;
	    width: 67px;
	    top:193px;
	    left:57%;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;
	}
	#santasleigh {
		display:block;
		position: absolute;
	    width: 160px;
	    height: 50px;
	    left:-200%;
	    z-index: 99;
	    background-image: url(/static/images/santasleigh-w190.png);
	    background-size: 160px;
	    background-repeat:no-repeat;
	  	animation-name: ani_mobile_santa_sleigh;
	  	animation-duration:8s;
	  	animation-delay:2s;
	  	animation-timing-function: linear;
	  	animation-iteration-count: infinite;
	}
}
@media screen and (min-width:900px) {
	#btnholder {
		padding: 60px 0 30px;
	    text-align: center;
	    height: 224px;
	    position:relative;
	}
	#btnholder_hat {
		position:absolute;
		top: 30px;
    	left: 69%;
		width:100px;
		height:104px;
		z-index: 9999;
		background-image: url(/static/images/xmashat.png);
	    background-repeat: no-repeat;
	}
	#btn-getsecret {
		display: inline-block;
		padding: 70px 0px;
	    border-radius: 30px;
	    border: 4px solid white;
	    width:51%;
	    min-width:51%;
	    max-width:51%;
	    height:72px;
	    min-height:72px;
	    max-height:72px;
		background-image: linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -o-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -moz-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -webkit-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    background-image: -ms-linear-gradient(rgb(247, 102, 108), rgb(193, 17, 25) 90%);
	    /*background-image: -webkit-gradient(
	        linear,
	        left bottom,
	        left top,
	        color-stop(0, rgb(193, 17, 25)),
	        color-stop(0.90, rgb(247, 102, 108))
	    );*/
	} 
	.btn-getsecret-hide span.getsecret{
		animation-name: ani_getsecret_text_hide;
	  	animation-duration:1s;
	  	animation-delay:0s;
	  	animation-timing-function: ease-out;
	  	animation-iteration-count: 1;
	  	animation-fill-mode: forwards;
	}
	span.secretname-show{
		animation-name: ani_secretname_show;
	  	animation-duration:1s;
	  	animation-delay:5s;
	  	animation-timing-function: ease-in-out;
	  	animation-iteration-count: 1;
	  	animation-fill-mode: forwards;
	  	font-family:cursive;
	  	text-align:center;
	  	color:white;
	  	font-size:0px;
	}
	span.yougot{
		font-style:underline;
		display:none;
	}
	span.yougot-show {
		display:inline;
		font-family: cursive;
	    text-align: center;
	    font-size: 30px;
	    color:white;
	}
	#btn-getsecret span.getsecret{
		font-family: cursive;
	    text-align: center;
	    font-size: 3em;
	    color:white;
	}
	#btn-getsecret span.secretname{
		display:none;
	}
	#landscape {
		width:100%;
	}
	#landscape p{
		font-size:1em;
		font-family:cursive;
		color:white;
		text-align: center;
		padding:0 3em;
	}
	#tree1 {
		background-image: url(/static/images/treescape.png);
	    height: 55px;
	    width: 199px;
	    display: block;
	    left: 21%;
    	top: 76%;
	    background-size: 100px;
	    background-repeat-x: repeat;
	    background-repeat-y: no-repeat;
	    position:absolute;
	}
	#tree2 {
	    background-image: url(/static/images/treescape.png);
	    height: 50px;
	    width: 100px;
	    top: 75%;
    	left: 70%;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;
	}
	#xmastree1 {
	    background-image: url(/static/images/xmastree.jpg);
    	height: 50px;
	    width: 75px;
	    top: 76%;
    	left: 19%;
	    background-position-x: -38px;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;	
	}
	#xmastree2 {
	    background-image: url(/static/images/xmastree.jpg);
	    height: 50px;
	    width: 67px;
	    top: 75%;
    	left: 74%;
	    background-size: 100px;
	    background-repeat-x: no-repeat;
	    background-repeat-y: no-repeat;
	    display: block;
	    position:absolute;
	}
	#santasleigh {
		position: absolute;
	    width: 183px;
	    height: 50px;
	    left:-225%;
	    z-index: 999;
	    background-image: url(/static/images/santasleigh-w190.png);
	    background-size: 190px 65px;
	    animation-name: ani_santa_sleigh;
	  	animation-duration:10s;
	  	animation-delay:2s;
	  	animation-timing-function: linear;
	  	animation-iteration-count: infinite;
	}
}